.allRoutine {
  width: 30%;
  font-size: 1.5rem;
}

.routineTitle {
  font-size: 2rem;
}

.currentAction {
  border: 1px solid var(--icon-color);
}

.timer {
  cursor: pointer;
}

.timer:hover {
  border: 1px solid var(--icon-color);
}
