.header {
  display: flex;
}

.liveTitle {
  font-size: 20px;
  font-weight: 600;
}

.menuButton {
  padding: 0;
}

.menuIcon {
  font-size: 30px;
  font-weight: 600;
}

.colorBox {
  padding-left: 7px;
  flex: 1;
}

.colorBox span {
  margin-right: 4px;
}

.liveText {
  width: 50px;
  height: 24px;
  border-radius: 24px;
  background-color: #f00;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  padding: 3px 10px;
}

.participateNum {
  width: 50px;
  height: 24px;
  border-radius: 24px;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  padding: 3px 10px;
}
