/* .root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.middleContainer {
  display: flex;
  width: 100%;
  padding: 40px 20px;
  height: 80%;
}

.videoAction {
  width: 70%;
} */

.root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 50px 20px; */
  padding: 5% 2%;
}

.cover {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}
.blink {
  color: rgb(212, 90, 90);
  font-size: 1rem;
  opacity: 0.8;
}
.middle {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.currentActionBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* flex: 1; */
  height: 70%;
  align-items: center;
}

.bottomVideo {
  height: 30%;
  /* position: fixed;
  bottom: 10px;
  left: 30%; */
  /* display: flex; */
}

.currentActionDetailBox {
  flex: 1;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.startButtonBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.startButton {
  width: 140px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 600;
  color: #000000;
  opacity: 0.8;
  background-color: #00aa81;
}

.completeText {
  font-size: 20px;
  font-weight: 600;
}

.sequenceBox {
  background-color: #000000;
  height: 42px;
  width: 100%;
  /* max-width: 260px;
  min-width: 210px; */
  border-radius: 30px;
  opacity: 0.5;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* margin-top: 30px;
  margin-bottom: 40px; */
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  box-sizing: border-box;
}

.sequence {
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #999999;
  margin-bottom: 5px;
  cursor: pointer;
}

.nowSequence {
  color: #ffffff;
  background-color: #00aa81;
  opacity: 1;
  margin: 0;
}

.actionName {
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  color: #ffffff;
}
.actionSet {
  font-size: 15px;
  font-weight: 500;
  position: fixed;
  right: 10px;
  padding-right: 10px;
  /* padding-left: 10px; */
  color: #ffffff;
}
.actionImage {
  width: 100%;
}

.actionVideo {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
}

.endMassage {
  padding-bottom: 10px;
}

.bottomVideo {
  width: 100%;
  height: 30%;
  bottom: 1.5%;
}
.liveexstart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightly {
  opacity: 0.5;
}
@media (min-width: 650px) {
  .middle {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .actionVideo {
    flex: 1;
  }
  .blink {
    color: rgb(212, 90, 90);
    font-size: 0.8rem;
    opacity: 0.8;
  }
}
