/* .videoContainer {
  display: flex;
  flex-wrap: wrap;
}

.video {
  margin: 10px 10px;
}

video {
  width: 400px;
  border-radius: 40px;
}

.nickname {
  text-align: center;
} */

/* .video {
  overflow: hidden;
  position: relative;
} */

.videoContainer {
  width: 100%;
  height: 150px;
  display: flex;
  overflow-x: auto;
  box-sizing: border-box;
  flex-wrap: nowrap;
  box-sizing: border-box;
  /* gap: 10px 0; */
}

.videoContainer::-webkit-scrollbar-thumb {
  background-color: black;
  /* height: 10px; */
}

.video {
  margin: 0 5px;
  width: 180px;
  height: 140px;
  box-sizing: border-box;
}

.v {
  width: 180px;
  height: 140px;
  object-fit: fill;
  border-radius: 14px;
  box-sizing: border-box;
}

.nickname {
  font-size: 12px;
  font-weight: 500;
}

@media (min-width: 650px) {
}
