.name {
  text-align: center;
  font-size: 50px;
  padding: 10px 0;
}

.layout {
  overflow-y: scroll;
  background-color: #f3edff;
  margin: 0 20px;
  padding: 20px 20px;
  height: 80%;
}

.subject {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.creatorBox {
  display: flex;
  align-items: center;
  justify-content: end;
}

.creator {
  font-size: 18px;
}

.routineTitle {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.cates {
  text-align: center;
  padding-top: 10px;
  color: var(--main-color);
  font-size: 18px;
}

.actionCate {
  padding: 0 5px;
}

.list {
  text-align: right;
  padding: 10px 0;
}

.list span {
  padding-left: 10px;
}

.timer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  /* text-align: right; */
  /* margin: 10px; */
}

.detailname {
  text-align: center;
}

.details span {
  padding-right: 10px;
}

.buttons {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.backbutton {
  border: none;
  display: inline-block;
  margin: 10px 15px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
  cursor: pointer;
}
