.currentActionBox {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  box-sizing: border-box;
}

.actionName {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  box-sizing: border-box;
}

.ReadyTimer {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  box-sizing: border-box;
}

.set {
  color: #000000;
  /* font-size: 30px; */
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.timer {
  /* font-size: 60px; */
  font-size: 2em;
  font-weight: 600;
}

.count {
  font-size: 2em;
  font-weight: 600;
}

.button {
  color: #000000;
  /* font-size: 20px; */
  font-size: 0.8em;
  font-weight: 600;
  padding: 8px 25px;
  margin-top: 3px;
  border: 1px solid #000000;
  border-radius: 58px;
}

.stopBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* padding-bottom: 150px; */
}

.stopText {
  background-color: rgba(26, 248, 141, 0.9);
  color: black;
  padding: 30px 80px;
  border-radius: 14px;
  font-size: 50px;
}

@media (max-width: 649px) {
  .ReadyTimer {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .actionVideo {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    /* object-fit: cover; */
    padding: 0;
  }

  .video {
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 650px) {
  .currentActionBox {
    display: flex;
    padding: 10px 30px;
  }
}
