.header {
  height: 100%;
  background: var(--white);
  padding: 70px 300px;
  padding-bottom: 0;
}

.titleplus {
  padding-bottom: 15px;
  border-bottom: 2px solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liveTitleBox {
  width: 100%;

  display: flex;
  align-items: center;
}

.Live {
  /* width: 100px; */
  font-size: 30px;
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

.insertLive {
  background-color: var(--point-colorr);
  color: var(--white);
  border-radius: 20px;
  height: 30px;
  width: 30px;
}

.searchContainer {
  padding-top: 25px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.routinesearch {
  width: 300px;
  padding: 4px;
  padding-left: 20px;
  border-right: 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 0;
}

.searchButton {
  width: 50px;
  background-color: transparent;
  color: var(--light-grey);
  border-left: 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: 0;
  padding: 5px 6px;
  padding-right: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.Livearr {
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.LiveClick {
  width: 530px;
  height: 130px;
  border: none;
  background-color: var(--container-color);
  border-radius: 25px;
  padding: 35px 55px;
}

.LiveListItem {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(105, 65, 255, 0.3);
}

.subject {
  font-size: 20px;
  font-weight: 600;
}

.nick {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  padding-top: 10px;
  float: right;
  padding-right: 10px;
}

.detailButton {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-decoration-line: underline;
  color: var(--light-grey);
  opacity: 0.8;
  text-align: end;
}
