.MakeLiveModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 14px;
  background-color: var(--white);
  width: 30%;
  min-width: 350px;
  height: 60%;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 20px;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 17px;
  border-radius: 14px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: #c4c4c4;
}

.container::-webkit-scrollbar-track {
  border-radius: 14px;
  background-color: #e5e5e5;
}

.makeLabel {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.inputName {
  width: 100%;
}

.MakeLiveName {
  width: 100%;
  height: 34px;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  padding: 20px 15px;
  padding-bottom: 14px;
  font-size: 15px;
  margin-bottom: 34px;
  box-sizing: border-box;
}

.routineLabel {
  font-size: 18px;
  font-weight: 600;
}

.MyRoutineListarr {
  display: flex;
  flex-direction: column;
}

.MyroutineClick {
  width: 100%;
  height: 170px;
  border-radius: 24px;
  background-color: #cceede;
  margin: 14px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.selected {
  border: 3px solid #00aa81;
}

.routineDetail {
  flex: 1;
}

.subjectHits {
  display: flex;
  align-items: center;
}

.subject {
  font-size: 16px;
  font-weight: 600;
}

.myhits {
  color: var(--light-grey);
  font-size: 13px;
  font-weight: 500;
  padding-left: 6px;
}

.cates {
  font-size: 13px;
  color: var(--light-grey);
  font-weight: 500;
  text-align: left;
  padding-top: 13px;
}

.selectButton {
  border-radius: 28px;
  background-color: #00aa81;
  font-size: 13px;
  font-weight: 700;
  color: var(--white);
  margin: 0 auto;
  padding: 10px 35px;
}

.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  font-size: 13px;
  padding: 10px 35px;
  font-weight: 700;
  background-color: #00aa81;
  color: var(--white);
  border-radius: 30px;
  margin: 5px;
}

@media (min-width: 576px) {
  .MakeLiveModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    border-radius: 14px;
    background-color: var(--white);
    width: 25%;
    height: 80%;
    min-width: 550px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 20px;
    overflow-y: auto;
  }

  .container::-webkit-scrollbar {
    width: 17px;
    border-radius: 14px;
  }

  .container::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: #c4c4c4;
  }

  .container::-webkit-scrollbar-track {
    border-radius: 14px;
    background-color: #e5e5e5;
  }

  .makeLabel {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .titleLabel {
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 15px;
  }

  .inputName {
    width: 100%;
  }

  .MakeLiveName {
    width: 100%;
    height: 34px;
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    padding: 35px 15px;
    padding-bottom: 14px;
    font-size: 22px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  .routineLabel {
    font-size: 23px;
    font-weight: 600;
  }

  .MyRoutineListarr {
    display: flex;
    flex-direction: column;
  }

  .MyroutineClick {
    width: 100%;
    height: 228px;
    border-radius: 24px;
    background-color: #cceede;
    margin: 14px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .selected {
    border: 3px solid #00aa81;
  }

  .routineDetail {
    flex: 1;
  }

  .subjectHits {
    display: flex;
    align-items: center;
  }

  .subject {
    font-size: 22px;
    font-weight: 600;
  }

  .myhits {
    color: var(--light-grey);
    font-size: 17px;
    font-weight: 500;
    padding-left: 6px;
  }

  .cates {
    font-size: 16px;
    color: var(--light-grey);
    font-weight: 500;
    text-align: left;
    padding-top: 13px;
  }

  .selectButton {
    border-radius: 28px;
    background-color: #00aa81;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    margin: 0 auto;
    padding: 15px 45px;
  }

  .buttons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .button {
    font-size: 18px;
    padding: 15px 45px;
    font-weight: 700;
    background-color: #00aa81;
    color: var(--white);
    border-radius: 30px;
    margin: 5px;
  }
}
