.container {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding-top: 200px;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.title {
  text-transform: capitalize;
}

.icon {
  color: var(--main-color);
  font-size: 2rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.inputId,
.inputPassword,
.loginButton {
  margin-bottom: 10px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid grey;
  padding: 5px 10px;
}

.loginButton {
  background-color: var(--main-color);
  color: var(--white);
  cursor: pointer;
}
