.header {
  height: 100%;
  background: #f3edff;
  background: linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -webkit-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -moz-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
}

.titleplus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Live {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 10px;
}

.insertLive {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 30px;
  padding-top: 10px;
}

.insertLive:hover {
  transform: scale(1.1);
  transition: all 50ms 0s ease-in-out;
}

.SearchandSort {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.searchInput {
  padding: 4px;
}

.SearchButton {
  background-color: var(--main-color);
  color: #d7fff1;
  border: 0;
  outline: 0;
  padding: 5px 6px;
  cursor: pointer;
}

.liveicon {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.Livearr {
  /*background-color: antiquewhite;*/
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
}

.LiveClick {
  border: 1px solid grey;
  background-color: #f6f8fc;
  border-radius: 5px;
  width: 47%;
  /* flex: 0 0 47%; */
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 30px;
}

.LiveClick:hover {
  border: 2px #7650e0 solid;
  cursor: pointer;
}

.LiveListItem {
  /* height: 80px;
  width: auto; */
  text-align: left;
}
.subject {
  /* background-color: aqua;*/
  /* display: inline-block;
  text-align: left;
  margin: 10px;
  margin-right: 50px;
  width: 30em;
  height: 30px; */
  padding-bottom: 5px;
}
.hits {
  /*background-color: blanchedalmond;*/
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  width: 18em;
}
.create_date {
  display: inline;
}

.Sorted {
  margin-top: 10px;
  padding: 0px;
}
.sort {
  margin: 8px;
  border: none;
  background-color: transparent;
}
.sort:hover {
  border: 2px #7650e0 solid;
}
.backbutton {
  position: relative;
  border: none;
  display: inline-block;
  float: right;
  margin-right: 50px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
  cursor: pointer;
}
