.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainlogo {
  height: 10%;
}

.middleContainer {
  display: flex;
  width: 100%;
  padding: 40px 20px;
  height: 80%;
}

.videoAction {
  width: 70%;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
}

.video {
  margin: 10px 10px;
}

video {
  width: 400px;
  border-radius: 40px;
}

.nickname {
  text-align: center;
}

.allRoutine {
  width: 30%;
  font-size: 1.5rem;
}

.routineTitle {
  font-size: 2rem;
}

.buttons {
  height: 10%;
}

.bottom {
  position: fixed;
  bottom: 0;
  margin-left: 800px;
  margin-bottom: 50px;
}
.audiobutton {
  display: inline;
  border: 3px #7650e0 solid;
  border-radius: 50%;
  margin-right: 20px;
  padding: 10px;
}
.exitbutton {
  display: inline;
  border: 3px #7650e0 solid;
  border-radius: 50%;
  margin-right: 20px;
  padding: 10px;
}
.camerabutton {
  display: inline;
  border: 3px #7650e0 solid;
  border-radius: 50%;
  margin-right: 20px;
  padding: 10px;
}

.header {
  margin-right: 20px;
}
.livelogo {
  margin-left: 40px;
}
.liveTitle {
  font-size: 40px;
  font-weight: bold;
}
.participateNum {
  float: right;
  margin: 20px;
  padding: 10px;
}

/* .header {
  margin: 50px;
  width: 80%;
  height: 70%;
  background-color: #0f0046;
}
.mainlogo {
  float: right;
  margin-right: 20px;
}
.participateNum {
  padding: 10px;
}
.video {
  float: left;
}
.left {
  margin-top: 0px;
  width: 40%;
  float: left;
  box-sizing: border-box;
}

.right {
  width: 60%;
  float: right;
  box-sizing: border-box;
  margin-top: 20px;
}

.cates {
  margin: 10px;
} */
/* .timer {
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.detailname {
  text-align: center;
}
.ReadyTimer {
  font-size: 100px;
  margin: auto;
  height: auto;
  text-align: center;
  text-shadow: 0px 0px 30px #7650e0;
  color: black;
}
.button {
  border: none;
  display: inline-block;
  margin-left: 250px;
  margin-top: 30px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
  cursor: pointer;
  text-align: center;
} */
