.makeLabel {
  margin-left: 10px;
  margin-top: 20px;
}

.MakeLiveName {
  height: 30px;
  margin: 10px;
}

.routineLabel {
  margin-left: 10px;
  padding-bottom: 10px;
}

.MyRoutineListarr {
  margin: 0 10px;
  /* height: 500px; */
  overflow-y: scroll;
  background: #f3edff;
  /* height: 70%; */
  background: linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -webkit-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -moz-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
}

.MyroutineClick {
  width: 700px;
  border: none;
  background-color: transparent;
  /* padding: 30px; */
  margin: 30px;
  cursor: pointer;
}

.MyroutineClick:hover {
  border: 2px #7650e0 solid;
}

.subject {
  /* background-color: aqua;*/
  /* display: inline-block; */
  text-align: left;
  /* margin: 10px;
  margin-right: 50px; */
  /* width: 30em;
  height: 30px; */
  padding-bottom: 10px;
}

/* .header {
  overflow-y: scroll;
} */

.hitscreate {
  display: flex;
  justify-content: space-between;
}

.myhits {
  /*background-color: blanchedalmond;*/
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  width: 18em;
}

.Routine {
  font-size: 50px;
}

.selected {
  background-color: #b9a4f0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  border: none;
  /* display: inline-block; */
  /* margin: 15px; */
  /* text-align: center; */
  margin: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 500;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
  /* margin: 10px; */
  /* margin-left: 130px; */
  cursor: pointer;
}
.cates {
  padding-top: 20px;
}
