.backbutton {
  border: none;
  display: inline-block;
  margin: 15px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
}

.MyRoutineListItem {
  display: block;
  height: 80px;
  width: auto;
}
.subject {
  /* background-color: aqua;*/
  display: inline-block;
  text-align: left;
  margin: 10px;
  margin-right: 50px;
  width: 30em;
  height: 30px;
}
.myhits {
  /*background-color: blanchedalmond;*/
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  width: 18em;
}
.create_date {
  display: inline;
}
.Routine {
  font-size: 50px;
}

.MyroutineClick {
  display: block;
  width: auto;
  border: none;
  background-color: transparent;
  margin: 30px;
  min-width: 850px;
}

.MyroutineClick:active {
  background-color: #b6a3eb;
}
.MyroutineClick:visited {
  background: #b6a3eb;
  color: white;
}

.MyroutineClick:hover {
  border: 2px #7650e0 solid;
}

.MyRoutineListarr {
  /*background-color: antiquewhite;*/
  width: auto;
  height: 500px;
}
