.header {
  height: 100%;
  background: #f3edff;
  background: linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -webkit-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -moz-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
}

.Routine {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 10px;
}

.SearchandSort {
  /* display: flex;
  align-items: center; */
  /* margin-top: 5px;
  margin-right: 10px; */
}

.searchContainer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.routinesearch {
  padding: 4px;
}

.searchButton {
  background-color: var(--main-color);
  color: #d7fff1;
  border: 0;
  outline: 0;
  padding: 5px 6px;
  cursor: pointer;
  margin-right: 10px;
}

.Sorted {
  display: flex;
  justify-content: end;
  margin: 10px 50px 0 0;
  padding: 0px;
}
.sort {
  /* margin: 8px; */
  width: 150px;
  /* padding: 8px 60px; */
  border: none;
  background-color: transparent;
}
.sort:hover {
  /* border: 2px #7650e0 solid; */
  cursor: pointer;
  transform: scale(1.1);
  transition: all 50ms 0s ease-in-out;
}

.MyRoutineListarr {
  /*background-color: antiquewhite;*/
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
}

.MyRoutineListItem {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.MyroutineClick {
  background-color: transparent;
  border: 0;
  outline: 0;
  /* display: flex; */
  width: 100%;
  padding: 20px 50px;
  /* justify-content: space-between; */
}

.MyroutineClick:hover {
  border: 2px #7650e0 solid;
  cursor: pointer;
}

.subject {
  /* background-color: aqua;*/
  /* display: inline-block; */
  text-align: left;
  /* margin: 10px; */
  /* margin-right: 50px; */
  /* width: 30em; */
  height: 30px;
}
.hitscreate {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.myhits {
  width: 150px;
  height: 30px;
  padding-left: 10px;
  text-align: center;
}
.create_date {
  width: 150px;
  text-align: center;
}

.backbutton {
  position: relative;
  border: none;
  display: inline-block;
  float: right;
  margin-right: 50px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
  cursor: pointer;
}
