@media (max-width: 575px) {
  .routinestartDetailPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layout {
    border-radius: 14px;
    background-color: var(--white);
    width: 30%;
    min-width: 320px;
    height: 50%;
    min-height: 600px;
    box-sizing: border-box;
    padding: 30px 20px;
    overflow-y: auto;
  }

  .layout::-webkit-scrollbar {
    width: 17px;
    border-radius: 14px;
  }

  .layout::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: #c4c4c4;
  }

  .layout::-webkit-scrollbar-track {
    border-radius: 14px;
    background-color: #e5e5e5;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .backbutton {
    font-size: 13px;
    /* background-color: #00aa81; */
    color: #00aa81;
    padding: 8px 25px;
    border-radius: 30px;
    margin: 5px;
  }

  .name {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;
  }

  .detailname {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
  }
  .details {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detaildesc {
    white-space: pre-line;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 14px;
  }
  /* .video {
    background-color: var(--light-grey);
    padding: 120px 120px;
    border-radius: 14px;
    margin-top: 14px;
  } */

  .video {
    width: 100%;
    border-radius: 14px;
    margin-top: 14px;
  }

  .routineDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  .sequence {
    font-size: 17px;
    font-weight: 700;
    background-color: #00aa81;
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
  }
}
@media (min-width: 575px) {
  .routinestartDetailPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layout {
    border-radius: 14px;
    background-color: var(--white);
    width: 25%;
    height: 80%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 10px;
    overflow-y: auto;
  }

  .layout::-webkit-scrollbar {
    width: 17px;
    border-radius: 14px;
  }

  .layout::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: #c4c4c4;
  }

  .layout::-webkit-scrollbar-track {
    border-radius: 14px;
    background-color: #e5e5e5;
  }
  .name {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding: 10px 0;
  }
  .routineDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 38px;
    padding-top: 20px;
  }

  .sequence {
    font-size: 23px;
    font-weight: 700;
    background-color: #00aa81;
    color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
  }
  .detailname {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .details {
    box-sizing: border-box;
    width: 100%;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .detaildesc {
    white-space: pre-line;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 14px;
  }
  .video {
    background-color: var(--light-grey);
    padding: 200px 140px;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 20px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .backbutton {
    font-size: 16px;
    font-weight: 600;
    color: #00aa81;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    float: inline-end;
  }
}
