.header {
  height: 100%;
  background: #f3edff;
  background: linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -webkit-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
  background: -moz-linear-gradient(112deg, #f3edff 0%, #d2cece 130%);
}

.Routine {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 10px;
}

.SearchandSort {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5px;
  margin-right: 10px;
}

.routinesearch {
  padding: 4px;
}

.searchButton {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background-color: var(--main-color);
  color: #d7fff1;
  border: 0;
  outline: 0;
  padding: 5px 6px;
  cursor: pointer;
}

.RoutineListarr {
  /*background-color: antiquewhite;*/
  /* width: auto;
  height: 500px; */
  display: flex;
  flex-direction: column;
}

.RoutineListItem {
  display: block;
  /* border: 1px black solid;*/
  height: 80px;
  width: 100%;
}

.routineClick {
  width: 50%;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
}

.routineClick:hover {
  border: 2px #7650e0 solid;
  cursor: pointer;
}

.subject {
  /*background-color: aqua;*/
  display: inline-block;
  text-align: left;
  margin: 10px;
  margin-right: 50px;
  width: 30em;
  height: 30px;
}

.hits {
  /*background-color: blanchedalmond;*/
  display: inline-block;
  height: 30px;
  width: 18em;
}

.backbutton {
  position: relative;
  border: none;
  display: inline-block;
  float: right;
  margin-right: 50px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #7650e0;
  color: #d7fff1;
  cursor: pointer;
}
