@media (max-width: 650px) {
  .allRoutinePopup {
    display: none;
  }
}

.allRoutinePopup {
  box-sizing: border-box;
  height: 60%;
  position: fixed;
  right: 20px;
  top: 200px;

  background-color: #cceede;
  border-radius: 14px;
  padding: 30px 20px;

  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.allRoutine {
  overflow-y: auto;
  box-sizing: border-box;
  width: 30%;
  min-width: 350px;
  height: 100%;
  /* min-height: 550px; */
  opacity: 1;
  background: #ffffff;
  font-size: 1.5rem;
  border-radius: 14px;
  /* padding: 30px 10px; */
}

.allRoutine::-webkit-scrollbar {
  width: 17px;
  border-radius: 14px;
}

.allRoutine::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: #c4c4c4;
}

.allRoutine::-webkit-scrollbar-track {
  border-radius: 14px;
  background-color: #e5e5e5;
}

.closeButton {
  text-align: end;
  padding-right: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}

.routineDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.sequence {
  font-size: 17px;
  font-weight: 700;
  background-color: #00aa81;
  color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.detailname {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
}

.details {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.ex {
  background-color: #cceede;
  width: 65px;
  padding: 15px 10px;
  margin: 0 3px;
  border-radius: 15%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.dumbbellIcon {
  padding-right: 3px;
}

.restText {
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.5;
  padding-right: 3px;
}

.video {
  background-color: var(--light-grey);
  padding: 110px 55px;
  border-radius: 14px;
  margin-top: 14px;
}

.timer {
  cursor: pointer;
}

.timer:hover {
  border: 1px solid var(--icon-color);
}
