.button {
  border: none;
  margin-top: 30px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  background-color: #00aa81;
  color: #d7fff1;
  cursor: pointer;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 10px 0;
}
/* 
.frame {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.startButtonBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 20px;
}

.startButton {
  width: 120px;
  height: 50px;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 600;
  color: #000000;
  background-color: #00aa81;
}
.sequenceBox {
  background-color: #000000;
  height: 42px;
  width: 50%;
  max-width: 260px;
  min-width: 210px;
  border-radius: 30px;
  opacity: 0.5;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 20px 0;
  box-sizing: border-box;
}

.sequence {
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #999999;
  margin-bottom: 5px;
  cursor: pointer;
}

.nowSequence {
  color: #ffffff;
  background-color: #00aa81;
  opacity: 1;
  margin: 0;
}
.currentActionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  /* height: 100%; */
}
.actionName {
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  color: #ffffff;
}
.endMassage {
  padding-bottom: 10px;
}

.bigBox {
  height: 100%;
}

.frame {
  height: 100%;
}

@media (min-width: 650px) {
  .middle {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .actionVideo {
    flex: 1;
  }
}
