li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  background-color: var(--point-colorr);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  /* height: 106px; */
  /* height: 12rem; */
  padding: 1.3rem 0;
}

.link {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  /* 선택되면 위에 동그라미 표시 */
}

.titleBox {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.icon {
  color: var(--icon-color);
  width: 29.357px;
  height: 25.271px;
}

.title {
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 400;
}

.menuBar {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0;
}

.menuBar li {
  padding-left: 90px;
  text-transform: uppercase;
}

.selected {
  font-weight: 700;
}

.userInfo {
  width: 27%;
  display: flex;
  align-items: center;
  padding: 0;
}

.userName,
.logoutButton {
  font-size: 14px;
  font-weight: 500;
}

.userIcon,
.logoutIcon {
  opacity: 0.6;
  padding-right: 5px;
  width: 13px;
  height: 14px;
}

.userBox {
  display: flex;
  align-items: center;
}

.userName {
  padding-right: 20px;
  border-right: 1px solid rgb(255, 255, 255, 0.6);
}

.logoutBox {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
