:root {
  --main-color: #018b48;
  --black: #000000;
  --point-color: #f8ebe2;

  --background-main: #f3edff;
  --background-sub: #d2cece;

  --icon-color: #00aa58;
  --point-colorr: #0f0046;
  --container-color: #cceede;
  --white: #ffffff;
  --light-grey: #999999;
  --purple: #6941ff;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Pretendard-Regular';
  font-size: 22px;
}
button {
  font-family: HakgyoansimDoldamM;
  font-size: 22px;
}
