.header {
  height: 100%;
  background: var(--white);
  padding: 70px 300px;
  padding-bottom: 0;
}

.Routine {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--black);
}

.searchContainer {
  padding-top: 25px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.routinesearch {
  width: 300px;
  padding: 4px;
  padding-left: 20px;
  border-right: 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 0;
}

.searchButton {
  width: 50px;
  background-color: transparent;
  color: var(--light-grey);
  border-left: 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: 0;
  padding: 5px 6px;
  padding-right: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.RoutineListarr {
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  /* padding-left: 30px; */
  /* display: flex;
  flex-direction: column; */
}

.routineClick {
  width: 530px;
  height: 130px;
  border: none;
  background-color: var(--container-color);
  border-radius: 25px;
  padding: 35px 55px;
  /* display: flex; */
  /* flex-direction: column; */
}

.RoutineListItem {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(105, 65, 255, 0.3);
}

.subjectHits {
  display: flex;
  align-items: center;
}

.subject {
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
}

.dot {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.3;
  padding-right: 5px;
}

.hits {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.3;
}

.heartIconBox {
  flex: 1;
  text-align: end;
  padding-right: 10px;
}

.heartIcon {
  width: 22px;
  height: 20px;
}

.actionCate {
  font-size: 10px;
  font-weight: 500;
  padding-right: 5px;
  opacity: 0.4;
}

.detailButton {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-decoration-line: underline;
  color: var(--light-grey);
  opacity: 0.8;
  text-align: end;
}

.backbutton {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--point-colorr);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  float: inline-end;
}
